@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgb(250, 250, 250);
    color: rgb(14, 23, 38);
}

html.dark {
    background-color: rgb(6, 8, 24);
    color: rgb(255, 255, 255);
}

/* 
#2196f3

#e7515a */